@import 'utilities.css';
:root{
    --primary:#fb8500;
    --dark:#161616;
    --pure: #FFFFFF;
    --ternary: #a19e9e;
    --light: #F2F2F2;
    --secondary: #070606;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
}
h1{
    font-size: 2rem;
}
header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0,100% 100%,80% 87%,0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}
.hero{
    padding: 3rem, 0;
}
.hero .left img{
    width: 400px;
} 
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about .about-me-img{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: var(--dark);
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
}
ul{
    list-style-type: none;
}

ul.list-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 1rem 1rem 0 0;
}

ul.list-container li {
    padding-bottom: 8px;
    flex: 0 0 33.33%;
}
section.about .social a:hover{
    background: var(--primary);
    transition: all .3s ease;
}
section.about .social a img{
    width: 97%;
    height: 100%;
    padding: 0.5rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{
    /* color: var(--pure); */
    font-family: 'Lato', sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
.section-heading span{
    color: var(--primary);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.services{
    background: var(--light);
}
section.services p{
    font-size: 1.15rem;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all 0.3s ease;
}
section.services .card-wrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato', sans-serif;
    
    line-height: 1.6;
}
section.services .card-wrapper .card:hover{
    background: var(--dark);
    color: var(--ternary);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper.card:hover p{
    color: var(--pure);
}
section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/freelancer.jpg);
    background-repeat: cover;
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0,100% 100%,75% 80%,0 100%);
    padding-bottom: 14rem;

}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 2rem;
    padding: 0 10rem 0 10rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
}
section.reviews .slider .slide img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
    /* border-width: 2px solid #000; */
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.reviews .slider .slide p{
    font-family: 'Lato', sans-serif;
    /* color: var(--ternary); */
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
section.reviews .slider .slide span{
    font-size: 0.9rem;
}
section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.reviews .slider-dots{
    margin-top: 3rem;
}
section.reviews .slider-dots button{
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    background-color: var(--primary);
    width: 25px;
}
section.work{
    background: var(--light);
}
section.work p{
    font-size: 1.15rem;
}
section.work .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(252, 163, 17, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all 0.3s ease;

}
section.work .card-wrapper .card:hover .overlay{
    opacity: 1;
}
section.work .card-wrapper .card .overlay a{
    color: var(--secondary);
    text-decoration: none;
}
section.work .card-wrapper .card img{
    height: 100%;
    width: 100%;
}
section.blog{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0,100% 100%,75% 90%,0 100%);
    padding-bottom: 12rem;
}
section.blog .section-heading{
    color: var(--pure);
}
section.blog p{
    color: var(--light);
    font-size: 1.15rem;
}
section.blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card{
    background: var(--pure);
    height: fit-content;
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
}
section.blog .card-wrapper .card .card-content{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1{
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content span{
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a.read-more{
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content a:hover{
    color: var(--primary);
}
section.blog .blog{
    text-align: center;
    align-items: center;
}
section.contact p{
    font-size: 1.15rem;
}
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    margin-bottom: 12rem;
}
section.contact .card-wrapper .card{
    text-align: center;
    
}
section.contact .card-wrapper .card img{
    margin-bottom: 3rem;
}
section.contact .card-wrapper .card h1{
    font-weight: 400;
    margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6{
    font-size: 1rem;
    /* color: var(--ternary); */
    font-weight: 400;
    
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
    
}
section.contact input{
    padding: 0.5rem 1rem;
    border: 1px solid var(--light);
    font-size: 1rem;
    font-family: inherit;
}
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
    font-family: inherit;
}
section.contact .input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 1rem;
    font-family: inherit;
    margin-bottom: 2rem;

}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus{
    outline: none;
}
section.contact .btn-wrapper{
    text-align: center;
    margin-top: 1rem;
}
footer{
    background: var(--dark);
    text-align: center;
    padding: 5rem 0;
}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 200px;

}
footer .footer-socials a{
    margin-right: 1rem;
}
footer .footer-socials{
    margin-bottom: 3rem;
    margin-right: -1rem;
}
footer .copyright{
    color: var(--ternary);
}
